/* Corpo Calculadora*/
main {
    background-color:#1BFA69;
    display: flex;
    justify-content: center;
}

.conteinercalculadora {
    margin-top: 20px;
    background-color: aqua;
    max-width: 400px;
    min-width: 250px;
    height: 400px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.30) 2px 2px 2.6px;
   }

.calculadoraTopo {
    background-color: rgb(140, 136, 143);
}

.operacoes {
    
}
.botoesOperacoes {
    background-color: rgb(32, 20, 20);
    border-radius: 5px;
   
    
}
.botoesnum {
   

}

/* Footer*/
footer {    
    font-family: var(--fontePadrão);
    font-size: 0.8em;
    color: bisque;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    
}
.footer {
    max-width: 280px;
    background-color:rgb(46, 42, 42); 
    padding: 10px 15px 10px 15px;
    border-radius: 0px 0px 5px 5px;
    margin-top: -10px;
}