@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin:0%;    
}
:root {
    --fontePadrão:'Roboto', sans-serif;
    --fonteExtra: 'Bebas Neue', cursive;
    --corVerdeContainerbase: #1BFA69;
    --corClaraDivConteudo: aliceblue; 
    --corAzulEscuro: #171c31;
}
body {
    background-color: var(--corVerdeContainerbase);
    height: 100%;
    font-family: var(--fontePadrão);
}

main {
    background-color: var(--corVerdeContainerbase);
    display: flex;
    justify-content: center;
    height: 100%;
}

.conteiner {
    display: block;
    background-color: var(--corClaraDivConteudo);
    max-width: 600px;
    padding: 30px;
    border-radius: 2px;
}
.conteiner > h1 {
    text-align: center;
    margin:10px
}
.conteiner_inputs {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2px;
    flex-wrap: wrap;
    align-items: center;
    font-family: var(--fontePadrão);
    font-size: 1.2rem; 
}

input {
    min-width: 12rem;
}
.btnInserir {
    font-family: var(--fontePadrão);
    color: rgb(248, 248, 248);
    margin: 10px 0px;
    font-size: 1.2rem;
    background-color: rgb(2, 175, 2);
    border-radius: 4px;
}

.btnCancelar {
    font-family: var(--fontePadrão);
    color: rgb(248, 248, 248);
    margin: 10px 0px;
    font-size: 1.2rem;
    background-color: rgb(243, 32, 32);
    border-radius: 4px;
}

button:hover {
    font-size: 1.3rem;
}

#transaction {
    display: block;
    width: 100%;
    overflow: auto;
    
}
#data-table {
    width: 100%;
    color: var(--dark-blue);
    border-collapse: collapse; 
    margin-top: 10px;

}

table th {
    background-color: white;
    color:var(--corAzulEscuro);
    padding: 0.3rem 1rem;
    text-align: left;
    border: 1px solid black;
}
table td {
    border: 1px solid black;
}

table tbody tr {
    opacity: 0.7;
}

table tr:hover {
    opacity: 1;
       
}

table td {
    background-color: white;
    padding: 0.1rem 1rem ;
    font-weight: normal;
}


table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem ;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0 ;
}


td.income {
    color: #12a454;

}

td.expense {
    color: #e92929
}

@media only screen and (max-width: 600px){

    .container {
        max-width: 320px;       
        margin: auto;
    }

    .responsive thead tr th {
        font-size: 1.2em ;
    }

    .responsive th, .responsive tr {
        font-size: 0.5em;  
        text-align: left;          
       
    }
    table td {
    background-color: white;
    font-weight: normal;
    } 

     
}