.imagem-carrossel1 {
    object-fit: cover ; /* como o elemento se comporta em relação ao container pai. Preencher o container mantendo a proporção e cortando o que for necessário*/
    object-position: 50% 0; /* alinha em eixo x e y*/
    height:300px;
}

.imagem-carrossel2 {
    object-fit: cover ; /* como o elemento se comporta em relação ao container pai. Preencher o container mantendo a proporção e cortando o que for necessário*/
    object-position: 30% 80%; /* alinha em eixo x e y*/
    height:300px;
}

h1 {
    text-align: center;
}

.centered {
    align-items:center;
    margin: 0 auto !important;
    float: none !important;
    max-width: 350px;
    background-color: rgb(245, 250, 249);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.60) 0px 3px 8px;
    border-radius: 5px;
}

.lista{
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column-reverse;
    
    
    
    
}

.itemLista{   
    margin: 7px 7px 7px -25px !important;
    float: none !important;
    max-width: 350px;
    background-color: #d4e8ff;;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.60) 0px 3px 8px;
    border-radius: 5px;
}

.itemLi {
    list-style: none;
    
    
}


.btncopy {
    display: flex;
    justify-content:center;
    padding: 10px 0 20px 0;
    
}
.cadastrar {
    background-color: #32c206;
    color: #06224a;
    width: 80px;
    box-shadow: rgba(0, 0, 0, 0.60) 0px 2px 6px;
}
.cadastrar:hover {
    font-size: 1.1rem;
}

input, button {
    border-radius: 10px;
    border: none;
    padding: 8px;
}

input {
    background-color: #d4e8ff;
    color: #06224a;
    width: 120px;
}

input:focus {
    outline: none;
}

button {
    margin-left: 10px;
    background-color: #06224a;
    color: white;
    text-transform: uppercase;
    transition: 0.3s;
}
button:hover {
    font-size: 1.3rem;
}