@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin:0%;    
}


:root {
    --fontePadrão:'Roboto', sans-serif;
    --fonteExtra: 'Bebas Neue', cursive;

}
body {   
    min-height: 100vw; 
    background-repeat: no-repeat;

   
}
header {
    background-color: rgb(46, 42, 42);
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav {
    height: 70px;
    display: flex;    
    justify-content: space-between;
}
#btn-mobile {
    display: none;
}

.menu {    
    margin-bottom: 15px;    
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0.5rem;
}


a {
    color: rgb(247, 236, 236);
    text-decoration: none;
    font-family: sans-serif;
}
a:hover {
    background: rgba(250, 247, 247, 0.25);
    padding: 5px;
    border-radius: 2px;
}
nav ul {
    list-style: none;
}

.logo {
    width: 50px;
}


.conteiner {
    background-color:#1BFA69;
    display:flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    margin: auto;
    padding: 50px;
    border-radius: 0px 0px 5px 5px;

}
.conteiner > div {
    flex: 1 1 280px;
    margin: 10px;
    max-width: 280px;
}

.resultado {
    background-color:#0FFDE9;
    padding: 10px;
    font-family: var(--fontePadrão);
    color: black;
    font-size: 0.8rem;

}



.medida_terreno { 
    display:block;
    background-color: aliceblue; 
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.30) 2px 2px 2.6px;
    padding:20px;
    width: 280px; 
    min-height: 300px;       
}

.medida_terreno_form div {  
    margin-top:5px;
}


.conteiner input.valorCampo
{
    max-width: 60px;
      
}

footer {    
    font-family: var(--fontePadrão);
    font-size: 0.8em;
    color: bisque;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    
}
.footer {
    max-width: 280px;
    background-color:rgb(46, 42, 42); 
    padding: 10px 15px 10px 15px;
    border-radius: 0px 0px 5px 5px;
    margin-top: -10px;
}


.conversorTerreno {  
    background-color: aliceblue; 
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.30) 2px 2px 2.6px;
    padding: 20px;
    width: 280px;
    min-height: 300px;
        
}
.conversorTerrenoFormQuestions div {
    margin-top: 5px;

}

.conversorTerreno p {
    margin-top: 5px ;
    margin-bottom: 5px;
}

button {
    
    font-size: 0.8rem;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    background: rgb(207, 219, 218);
    border-radius: 6px;

}
button:hover {
    background-color:rgb(13, 231, 42);
}


@media (max-width: 600px){
    #btn-mobile {
        display: block;
        background-color:transparent;
        border: none;
        background-image: url(../imagens/menuhamburguer.png);
        height: 50px;
        width: 30px;
        margin-right: 5px;
        background-repeat: no-repeat;

    }
   
    .menu {
        display: none;
        
        position: absolute;
        width: 100%;
        height:2050vh;
        top:80px;
        right: 0px;
        background: #0FFDE9;
        z-index: 1000;

    }

    #nav.active .menu {
        display: block;
        width: 100%;
    }
    
    .menu > li {
        padding: 10px;
        margin: 10px;
        border-bottom: 2px solid rgba(0, 0,  0, 0.05);
    }
    .menu > li a:hover {
        background-color: rgb(217, 241, 232);
        border-radius: 0px 0px 5px 5px;
        padding:10px 120px 10px 10px;
    }

    .menu > li > a {
        color: rgb(43, 39, 39);
    }
    
}

