@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin:0%;
    
}
:root {
    --fontePadrão:'Roboto', sans-serif;
    --fonteExtra: 'Bebas Neue', cursive;

}
body {
    background-image: linear-gradient(to bottom, rgb(11, 197, 11) 60%, rgb(21, 119, 8));    
    height: 100vw;
    background-repeat: no-repeat;
    
}

body h2 {
    text-align: center;
    margin-top: 50px;
    color: azure;
    text-shadow: 1px 1px black;
    font-family: var(--fontePadrão);
    font-size: 1.5em;
    max-width: 100vw;
    
}

.conteiner {
    display:flex;
    justify-content: center;
    align-items:center; 
}

.medida_terreno {  
    background-color: aliceblue; 
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content:center;
    box-shadow: rgba(0, 0, 0, 0.30) 2px 2px 2.6px;
    padding: 30px;
    min-width: 380px;
        
}

.medida_terreno .formQuestions {
    display: block;
    align-content: flex-end;

} 

.medida_terreno input.valorCampo
{
    max-width: 60px;
    margin: 10px;
  
}

