@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin:0%;    
}


:root {
    --fontePadrão:'Roboto', sans-serif;
    --fonteExtra: 'Bebas Neue', cursive;

}
body {
    background-image: linear-gradient(to bottom, rgb(11, 197, 11) 60%, rgb(21, 119, 8));    
    height: 100vh; 
    
}

header nav {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
}

body h2 {
    text-align: center;
    color: rgb(1, 71, 71);
    font-family: var(--fontePadrão);
    font-size: 1em;
    
}

.conteiner {
    display:flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    margin: auto;

}
.conteiner > div {
    flex: 1 1 280px;
    margin: 10px;
    max-width: 280px;
}

.resultado {
    background-color: rgb(182, 245, 224);
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;

}
.resultado h2 {
    color: black;
    text-shadow: none;
}


.medida_terreno { 
    display:block;
    background-color: aliceblue; 
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.30) 2px 2px 2.6px;
    padding:20px;
    width: 280px; 
    min-height: 300px;       
}

.medida_terreno_form div {  
    margin-top:5px;
}


.conteiner input.valorCampo
{
    max-width: 60px;
      
}

footer {
    font-family: var(--fontePadrão);
    font-size: 0.8em;
    margin-top: 10px;
    text-align: center;
}


.conversorTerreno {  
    background-color: aliceblue; 
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.30) 2px 2px 2.6px;
    padding: 20px;
    width: 280px;
    min-height: 300px;
        
}
.conversorTerrenoFormQuestions div {
    margin-top: 5px;

}

.conversorTerreno p {
    margin-top: 5px ;
    margin-bottom: 5px;
}

button {
    
    font-size: 0.8rem;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    background: rgb(207, 219, 218);
    border-radius: 6px;

}
button:hover {
    background-color:rgb(13, 231, 42);
}



